@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  	font-family: 'Nanum Gothic', sans-serif;
  	word-break: keep-all;
  	overflow-x: hidden;
  	line-height: 1.9;
  	background-color: #fff;
  	padding: 0;
}


h1 {
	font-size: 72px;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 5px 10px rgba(0,0,0,0.2);
	margin: 0;
}

h2 {
	font-size: 48px;
	font-weight: 700;
	padding-bottom: 15px;
	line-height: 1.5;
}

h3 {
	font-size: 30px;
	font-weight: 600;
	color: #917260;
	text-align: center;
	line-height: 1.5;
}

h4 {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	line-height: 1.5;
}

h5 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 50px;
	line-height: 1.5;
}

p {
	font-size: 16px;
    color: #666666;
    text-align: center;
    margin-bottom: 25px;
}

a:hover, a:focus {
	text-decoration: none;
}

.top-title {
	padding-top: 295px;
}

.empty-space {
	height: 70px;
}

.title-sub {
	text-shadow: 0 5px 10px rgba(0,0,0,0.2);
	font-size: 39px;
	color: #fff;
	font-weight: 600;
}

.subtext {
	font-size: 14px;
	font-weight: 400;
	color: #848484;
}

.content-bg {
	padding-top: 70px;
	padding-bottom: 70px;
}

.gray-section {
	background-color: #f2f2f2;
}

.nav-pills>li>a {
	border-radius: 0;
	color: #333;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #917260;
	background-color: transparent;
}

.nav-pills>li.active>a::after {
	content: " ";
    border: 1.5px solid #917260;
    margin-top: 5px;
    display: block;
    max-width: 25%;
} 

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

.nav>li>a:hover {
	color: #917260;
}

.nav-pills>li>a:hover::after {
	content: " ";
    border: 1.5px solid #917260;
    margin-top: 5px;
    display: block;
    max-width: 25%;
} 

.navigation-title {
	color: rgba(0,0,0,0.5);
	font-style: italic;
	margin-top: 5px;
}

/* .nav>li>a:hover::after {
	content: "_";
	display: block;
	font-size: 50px;
	margin-top: -60px;
	margin-bottom: -20px;
} */

.highlighted {
	color: #3cc;
}

/*.row {
	margin-right: 0;
}*/

.hero {
	background: url("../img/banner.jpg");
	background-position: center center;
	height: 500px;
}

.nav-bg {
	margin-left: 20px;
}

/*.nav-bg {
	top: 0;
	float: right;
	width: 150px;
	min-height: 100vh;
	background-color: #eee;
}*/

/*.navigation {
	float: right;
}*/

.float-panel {
	position: absolute;
	z-index: 99;
}

.float-panel .fixed {
	top: 0 !important;
}

img {
	display: block;
	margin: 0 auto;
	/*width: 100%;*/
}

.colourlegend, .colourlegend-small {
	/*border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;*/
	padding: 10px 0;
	margin: 0 auto;
}

.colourlegend p {
	width: auto;
	font-size: 13px;
	text-align: left;
	line-height: normal;
	margin: 0;
}

.colourlegend-small p {
	width: auto;
	font-size: 10px;
	text-align: left;
	line-height: normal;
	margin: 0;
}

.legend {
	padding: 10px 0 ;
}

.legend2 {
	padding: 10px 0 ;
	height: 100px;
}

.legend > .col-md-2, .col-md-3 {
	padding: 0;
}

.box {
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.box-green {
	background-color: #96cb3f;
}

.box-yellow {
	background-color: #ebc54a;
}

.box-orange {
	background-color: #f58d1c;
}

.box-red {
	background-color: #e24b40;
}

.box-purple {
	background-color: #812161;
}

.box-dark {
	background-color: #3c166b;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.quote {
	background: url("../img/quote_bg1.jpg") center left;
	background-size: cover;
	height: 325px;
	padding-top: 30px;
}

.quote-text {
	color: #fff;
}

.location-photo-section {
	height: 750px;
	margin-bottom: 160px;
}

.brown {
	color: #917260 !important;
}

.donut-margin {
	margin-top: 120px;
}

.donut-section {
	width: 100%;
	text-align: left;
	margin-left: 130px;
}

.donuts-sub {
	display: inline-block; margin-left: 220px;
}

.donuts-sub-mob {
	display: none;
}

.compare-text {
	text-align: left;
	padding-right: 50px;
}

.compare-section {
	padding-left: 50px;
}

.compare-margin {
	padding-top: 170px;
}

.footer {
	background-color: #26282A;
	padding: 20px 0;
}

.footer-text {
	color: #fff;
	text-align: left;
}

.muted {
	font-size: 14px;
}

#서울Label {
	left: -207px !important;
	top: -132px !important;
}

#서울Label > div.labelText {
	font-size: 18px;
}

#서울Label > div.labelText:after {
	content: "충 39기";
	font-size: 14px;
	display: block;
}

#부산Label {
	left: 218px !important;
	top: -132px !important;
}

#부산Label > div.labelText {
	font-size: 18px;
}

#부산Label > div.labelText:after {
	content: "충 19기";
	font-size: 14px;
	display: block;
}

#donut {
	margin-top: -360px;
	text-align: center;
}

.donuts {
	width: 500px;
	height: 400px;
}

.donut-side {
	position: absolute;
	background-color: #b52623;
	color: #fff;
	font-size: 14px;
	padding: 0 5px;
}

.seoul-side {
	left: 149px;
}

.pie1 {
	position: inherit;
	    width: 250px;
    top: -365px;
    left: -105px;
}

.pie2 {
	position: inherit;
	    width: 250px;
    top: -540px;
    left: 330px;
}

.donut1 {
	width: 400px !important;
	margin-left: -415px;
	height: auto !important;
}

.seoultext, .busantext {
	    position: absolute;
	    top: 95px;
    left: 94px;
    text-align: center;
}

.cityname::after {
	content: "________";
    display: block;
    color: #eee;
    line-height: 0;
    margin-top: -6px;
    margin-bottom: 7px;
}

.mobile-donuts {
	display: none;
}

canvas#부산 {
	margin-left: 356px;
    margin-top: -183px;
    display: block;
}

tspan .number {
	display: none !important;
}


.donuttest {
	    position: absolute;
    left: 110px;
    bottom: 410px;
    text-align: center;
}

.difference-section {
	height: 550px;
	margin-bottom: 80px;
}

.iw_inner {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.iw_title {
	color: #666;
	float: right;
}

.realtime {
	padding-left: 10%;
}

#airkorea
{
    width    : 248px;
    height   : 319px;
    overflow : hidden;
    position : relative;
    margin-right: 13px;
}

#akiframe
{
    position : absolute;
    top      : -79px;
    left     : -199px;
    width    : 1290px;
    height   : 1200px;
    -ms-zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
}

#tenki
{
    width    : 293px;
    height   : 251px;
    overflow : hidden;
    position : relative;
}

#tenkiframe
{
    position : absolute;
    top      : -179px;
    left     : -97px;
    width    : 1290px;
    height   : 1200px;
    -ms-zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
}

/*
#slides {
      display: none;
    }

    #slides .slidesjs-container {
    	width: 50px !important;
    	height: 100px !important;
    	margin: 0 auto;
    }

    #slides .slidesjs-control {
    	width: inherit !important;
    	height: inherit !important;
    	margin: 0 auto;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

#slides  img {
	width: 41px !important;
	height: 41px;
}
*/

/* MEDIA QUERIES */
@media (min-width: 1200px) {
.container {
    width: inherit;
}
}

@media (min-width: 992px) {
.container {
    width: inherit;
}
}

@media (min-width: 991px) {
	.navbar-fixed-top {
		display: none;
	}
}

@media (max-width: 990px) {
	.navigation {
		display: none;
	}

	.navbar-fixed-top {
		display: block;
	}
}

@media (max-width: 1000px) {
	.vimeo {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 991px) {
	.row {
		margin-left: 0; 
    	margin-right: 0;
	}

	.container {
		width: inherit;
		padding-left: 0;
    	padding-right: 0;
	}

	.container>.navbar-header, .container>.navbar-collapse {
		padding-right: 15px;
		padding-left: 15px;
	}

	.container>.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-default .navbar-toggle {
		border-color: transparent;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 50px;
    	padding-right: 50px;
	}

	.donuts {
		margin-left: 130px;
	}

	.donut-section {
		margin-left: 0;
	}

	.top-title {
		padding-top: 65px;
	}

	.hero {
		height: 250px;
	}

	.title-sub {
		font-size: 2.7em;
	}

	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 3em;
	}

	.pie1 {
		left: -137px;
	}

	.pie2 {
		left: 295px;
	}

	.difference-section {
		margin-bottom: 110px;
	}
}

@media (max-width: 767px) {
	.row {
		margin-left: 0; 
    	margin-right: 0;
	}

	.container {
		padding-left: 0;
    	padding-right: 0;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 10px;
    	padding-right: 10px;
	}

	.content-bg {
		padding-top: 30px;
	}

	.location-photo-section {
		margin-bottom: 0;
	}

	.empty-space {
		display: none;
	}

	h5 {
		font-size: 1em;
		margin: 0;
	}

	h4 {
		font-size: 1em;
	}

	p {
		text-align: center !important;
	}

	.location-photo-section {
		height: 650px;
	}

	.donut-margin {
		margin-top: 0;
		padding-top: 50px;
	}

	.donuts {
		display: none;
	}

	.donuts-sub {
		display: none;
	}

	.donuts-sub-mob {
		display: block;
	}

	.mobile-donuts {
		display: block;
	}

	img {
		width: 100%;
	}

	.difference-section {
		height: 450px;
		margin-bottom: 50px;
	}

	.compare-section {
		padding-top: 50px;
		padding-left: 0;
	}

	.compare-text {
		padding-right: 0;
	}

	.compare-margin {
		padding-top: 30px;
	}

	.iw_title {
		float: left;
		margin-right: 10px;
	}



	.colourlegend-small {
		margin-bottom: 80px;
	}

	.realtime {
		display: none;
	}
}

.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: block;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 20px;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Shylock (by @benhanks040888) */
.menu--shylock .menu__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #b5b5b5;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
	color: #917260;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
	color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
	background: #b5b5b5;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
	background: #917260;
}