@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
  word-break: keep-all;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

h1 {
  color: #0a5088;
  font-weight: 600;
  font-size: 36px;  
  margin-top: 10px;
}

h2 {
  color: #af8b61;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  color: #4b93c9;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

h5 {
  color: #bbbaba;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

h6 {
  color: #bbbaba;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

p {
  color: #222222;
  font-weight: 400;
  font-size: 17px;
}

a {
  color: #6d6e70;
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

a:hover {
  color: #0739a9;
  text-decoration: underline;
}

hr {
  background: #d2b390;
  height: 1px;
  width: 340px;
  border: 0;
}

.btn:focus {
  color: #fff;
}

.strong {
  font-weight: 600;
}

.widthfix {
  width: 1000px;
  margin: 0 auto;
}

/* HEADER */

.ttalogo > a > img {
  height: 32px;
}

.ttalogo > a > span {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
}

.ttalogo > a:hover {
  text-decoration: none;
}

.dlhead {
  background-color: #f8f8f8;
  border-bottom: 1px #bbbdbf solid;
  line-height: 60px;
  margin-bottom: 20px;
}

#download {
  margin: 0 auto;
  width: 1000px;
  height: 70px;
  padding-top: 3px;
}

.dlbtn {
  float: right;
  text-align: right;
  color: #fff;
}

.dlbtn > .btn {
  background-color: #3fced1;
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
  color: #fff;
} 

.dlbtn > .btn:hover {
  background-color: #3ba5a8;
  color: #fff;
}

.dlbtntext {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
  float: left;
}

/* END HEADER */

/* MOBILE SECTION */

.main-logo {
  text-align: center;
  margin-bottom: 20px;
}

.main-title {
  margin: 20px auto 10px;
  text-align: center;
  border-top: 2px #c5a67c solid;
  border-bottom: 2px #c5a67c solid;
}

.mobile-part {
  background-color: #e8e8e8;
  height: 750px;
}

.iotdiv {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.feature-title {
  padding-top: 50px;
}

.pill {
  width: 294px;
  height: 63px;
  -webkit-border-radius: 50px; /* Safari and Chrome */
  -moz-border-radius: 50px; /* Firefox */
  -ms-border-radius: 50px; /* IE 9 */
  -o-border-radius: 50px; /* Opera */
  border-radius: 50px;
  border: 1px #d0d2d3 solid;
  background-color: #fff;
  padding: 2px 0 0 2px;
  margin-bottom: 5px;
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

.pill:hover {
  cursor: pointer;
}

.mint:hover {
  background-color: #10bcc7;
  border-color: #10bcc7;
}

.mint p {
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

.mint:hover p {
  color: #fff;
}

.blue:hover {
  background-color: #226bb4;
  border-color: #226bb4;
}

.blue p {
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

.blue:hover p {
  color: #fff;
}

.pill-big {
  width: 294px;
  min-height: 180px;
  -webkit-border-radius: 30px; /* Safari and Chrome */
  -moz-border-radius: 30px; /* Firefox */
  -ms-border-radius: 30px; /* IE 9 */
  -o-border-radius: 30px; /* Opera */
  border-radius: 30px;
  border: 1px #d0d2d3 solid;
  background-color: #fff;
  padding: 2px 0 0 2px;
  margin-bottom: 5px;
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

.pill-big:hover {
  cursor: pointer;
}

.pill-image {
  float: left;
  margin-right: 5px;
}

.pill-image-big {
  height: 175px;
  float: left;
  margin-right: 5px;
}

.pill-content {
  height: 54px;
  align-items: center;
}

.pill-title {
  color: #555;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.pill-desc {
  color: #777;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
}

.pill-separation {
  margin-bottom: 20px;
}

.pill-separation-right {
  margin-bottom: 20px;
  padding-top: 102px;
}

/* END MOBILE */

/* HOUSE */

.house-part {
  padding-top: 10px;
  text-align: center;
}

/* END HOUSE */

/* FOOTER */

.footer {
  background-color: #555657;
  height: 320px;
}

.logo-part {
  background-color: #fff;
  height: 140px;
  text-align: center;
  margin-bottom: 50px;
}

.logo-center {
  margin: 0 auto;
}

.logo-title > h4 {
  background-color: #8b745b;
  height: 45px;
  width: 205px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  line-height: 37px;
}

.client-logos {
  padding-top: 20px;
}

.client-logos > div:hover > img {
  opacity: 0.5;
}

.modal-img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease; /* Safari and Chrome */
  -moz-transition: all 0.3s ease; /* Firefox */
  -ms-transition: all 0.3s ease; /* IE 9 */
  -o-transition: all 0.3s ease; /* Opera */
  transition: all 0.3s ease;
}

.modal-img:hover {
  opacity: 1 !important;
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}

.logo-sep {
  color: #929497;
  font-weight: 400;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.copyright {
  background-color: #555657;
  padding: 25px;
  border-top: 2px #535354 solid;
  text-align: center;
  line-height: 10px; 
}

.footer-title {
  cursor: pointer;
  width: 226px;
  margin: 0 auto;
  color: #e6e7e8;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: all 0.6s ease; /* Safari and Chrome */
  -moz-transition: all 0.6s ease; /* Firefox */
  -ms-transition: all 0.6s ease; /* IE 9 */
  -o-transition: all 0.6s ease; /* Opera */
  transition: all 0.6s ease;
}

.footer-title:hover {
  text-decoration: underline;
}

.footer-sep {
  background-color: #a7a9ac;
  width: 20px;
  height: 2px;
}

/* END FOOTER */

/* MODAL DESIGN */

.modal {
  text-align: center;
}

.modal-body {
  width: 90%;
  margin: 0 auto;
}

.modal-body p {
  color: #6d6e70;
  font-size: 15px;
  line-height: 1.9em;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  border-bottom: 1px #bbbdbf solid;
  padding-left: 43px;
}

.modal-title {
  color: #00beca;
  font-weight: 600;
  font-size: 24px;
  padding-top: 7px;
}

.standard-title {
  color: #226bb4;
}

.modal-subtitle {
  color: #404041;
  font-weight: 600;
  font-size: 20px;
}

.modal-readmore {
  text-align: right;
  font-size: 14px;
}

.modal-sep {
  background: #bbbdbf;
  width: 100%;
}

.modal-header .close {
  font-size: 40px;
  font-weight: 400;
  color: #bbbdbf;
  opacity: 1;
}

/* END MODAL */

button.close {
  padding: 5px 10px;
}

#mobileIOT {
  display: none;
}

#mobileFeature {
  display: none
}

#mobileFeature h2 {
  font-size: 23px;
  margin-bottom: 17px;
}

#mobileBigPill {
  display: none;
}

#pillBluetoothMobile {
  display: none;
}

#pillLoRaMobile {
  display: none;
}

#mobileBigPill {
  display: none;
}

#mobileButton {
  display: none;
}

#mobile-btn-sep {
  display: none;
}

/* ANIMATIONS */

#pillWifi {
  animation-delay: 0.1s;
}

#pillVoLTE {
  animation-delay: 0.2s;
}

#pillTelephone {
  animation-delay: 0.3s;
}

#pillNFC {
  animation-delay: 0.4s;
}

#pillZigbee {
  animation-delay: 0.5s;
}

#pillBluetooth {
  animation-delay: 0.6s;
}

#pillNBIOT {
  animation-delay: 0.7s;
}

#pillLoRaDesktop {
  animation-delay: 0.8s;
}

#titleAni {
  animation-duration: 2s;
}

#pillWeb {
  animation-delay: 0.1s;
}

#pillVideo {
  animation-delay: 0.2s;
}

#pillVoice {
  animation-delay: 0.3s;
}

#pillPay {
  animation-delay: 0.4s;
}

#pillIOTDesktop {
  animation-delay: 0.5s;
}

#pillCloud {
  animation-delay: 0.6s;
}

/* BEGIN MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }

  h1 {
    font-size: 26px;
    margin-bottom: 7px;
  }

  h3 {
    font-size: 16px;
  }

  hr {
    width: auto;
  }

  #download, .widthfix {
    width: auto;
  }

  #download {
    text-align: center;
  }

  .main-title {
    margin: 26px 0 13px;
    border: 0;
  }

  .ttalogo {
    padding-top: 2px;
  }

  .ttalogo > a > span {
    font-size: 14px;
  }

  .dlbtn {
    float: none;
  }

  .btn {
    margin-bottom: 10px;
  }

  .title-logo {
    width: 100%;
    padding: 0 15px;
    margin-left: 14px;
  }

  .ttalogo > a > img {
    height: 30px;
    margin-top: -1px;
  }

  .feature-title {
    padding: 0;
    text-align: center;
  }

  .mobile-part {
    height: auto;
    padding-bottom: 20px;
  }

  .pill-separation {
    margin-bottom: 20px;
  }

  .pill-separation-right {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .mobile-img {
    width: 50%;
  }

  .house-img {
    width: 100%;
  }

  .logo-part {
    text-align: center;
    height: auto;
    padding-bottom: 22px;
    margin-bottom: 0;
  }

  .logo-sep {
    display: none;
  }

  .modal-header {
    padding-left: 33px;
  }

  .modal-img {
    margin-right: 10px;
  }

  .copyright {
    border: none;
  }

  .line {
    display: none;
  }

  .pills-left {
    padding: 0;
  }

  .pills-right {
    padding: 0;
  }

  .pill, .pill-big {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .pill-big {
    min-height: auto;
    -webkit-border-radius: 50px; /* Safari and Chrome */
    -moz-border-radius: 50px; /* Firefox */
    -ms-border-radius: 50px; /* IE 9 */
    -o-border-radius: 50px; /* Opera */
    border-radius: 50px;
    padding: 2px 0 0 2px;
  }

  .pill-big > div > .pill-title {
    margin-bottom: 0 !important;
  }

  .pill-content {
    display: flex;
  }

  .pill-image-big {
    height: auto;
  }

  .pill-title {
    font-size: 1em;
    line-height: 1.2;
    padding-right: 10px;
    display: block;
    float: left;
  }

  .pill-title > span {
    display: none;
  }

  .pill-desc {
    display: none;
  }

  .logo-title {
    background-color: #8b745b;
    height: 34px;
  }

  .logo-title > h4 {
    background-color: transparent;
    font-size: 17px;
    font-weight: 400;
    margin-top: -3px;
  }

  .client-logos {
    padding-top: 17px;
  }

  #mobile-btn-sep {
    display: block;
    background-color: #e8e8e8;
    height: 1px;
    margin-bottom: 8px;
  }

  .dlbtn > .btn {
    min-width: 65%;
    height: 55px;
  }

  .dlbtntext {
    float: inherit;
    font-size: 19px;
  }

  #mobileIOT {
    display: block;
  }

  #desktopIOT {
    display: none;
  }

  #mobileFeature {
    display: block;
  }

  #desktopFeature {
    display: none;
  }

  #mobileBigPill {
    display: block;
  }

  #desktopBigPill {
    display: none;
  }

  #mobileButton {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  #desktopButton {
    display: none;
  }

  #pillZigbee {
    display: none;
  }

  #pillBluetoothMobile {
    display: block;
  }

  #pillBluetoothDesktop {
    display: none;
  }

  #pillLoRaMobile {
    display: block;
  }

  #pillLoRaDesktop {
    display: none;
  }

  #pillIOTDesktop {
    display: none;
  }

/* TURN OFF ANIMATIONS ON MOBILE */

  .animated {
      /*CSS transitions*/
      -o-transition-property: none !important;
      -moz-transition-property: none !important;
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
      /*CSS transforms*/
      -o-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important;
      /*CSS animations*/
      -webkit-animation: none !important;
      -moz-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }
}