@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
  word-break: keep-all;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

h1 {
  color: #0a5088;
  font-weight: 600;
  font-size: 36px;  
}

h2 {
  color: #af8b61;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  color: #4b93c9;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}

h5 {
  color: #bbbaba;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

h6 {
  color: #bbbaba;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

p {
  color: #222222;
  font-weight: 400;
  font-size: 17px;
}

hr {
  background: #d2b390;
  height: 1px;
  width: 340px;
  border: 0;
}

.strong {
  font-weight: 600;
}

.widthfix {
  width: 1000px;
  margin: 0 auto;
}

/* HEADER */

.dlhead {
  background-color: #f8f8f8;
  border-bottom: 1px #bbbdbf solid;
  line-height: 60px;
  margin-bottom: 20px;
}

#download {
  margin: 0 auto;
  width: 1000px;
  height: 70px;
}

.dlbtn {
  float: right;
  text-align: right;
  color: #fff;
}

.dlbtn > .btn {
  background-color: #3fced1;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
} 

.dlbtn > .btn:hover {
  background-color: #3ba5a8;
  color: #fff;
}

.dlbtntext {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 900;
  float: left;
}

/* END HEADER */

/* MOBILE */

.main-logo {
  text-align: center;
  margin-bottom: 20px;
}

.main-title {
  margin: 20px auto 10px;
  text-align: center;
  border-top: 2px #c5a67c solid;
  border-bottom: 2px #c5a67c solid;
}

.mobile-part {
  background-color: #e8e8e8;
  height: 750px;
}

.iotdiv {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.feature-title {
  padding-top: 50px;
}

.pill {
  width: 294px;
  height: 63px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px #d0d2d3 solid;
  background-color: #fff;
  padding: 2px 0 0 2px;
  margin-bottom: 5px;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.pill:hover {
  cursor: pointer;
}

.mint:hover {
  background-color: #10bcc7;
  border-color: #10bcc7;
}

.mint:hover p {
  color: #fff;
}

.blue:hover {
  background-color: #226bb4;
  border-color: #226bb4;
}

.blue:hover p {
  color: #fff;
}

.pill-big {
  width: 294px;
  min-height: 180px
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px #d0d2d3 solid;
  background-color: #fff;
  padding: 2px 0 0 2px;
  margin-bottom: 5px;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.pill-big:hover {
  cursor: pointer;
}

.pill-content {
  float: left;
  margin-right: 5px;
}

.pill-title {
  color: #555;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.pill-desc {
  color: #777;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
}

.pills-left {
  text-align: left;
}

.pills-right {
  text-align: right;
}

.pill-separation {
  margin-bottom: 20px;
}

.pill-separation-right {
  margin-bottom: 20px;
  padding-top: 102px;
}

/* END MOBILE */

/* HOUSE */

.house-part {
  padding-top: 10px;
  text-align: center;
}

/* END HOUSE */

/* FOOTER */

.footer {
  background-color: #555657;
  height: 320px;
}

.logo-part {
  background-color: #fff;
  height: 140px;
  text-align: center;
  margin-bottom: 50px;
}

.logo-center {
  margin: 0 auto;
}

.logo-title > h4 {
  background-color: #8b745b;
  height: 45px;
  width: 205px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  line-height: 37px;
}

.client-logos {
  padding-top: 20px;
}

.modal-img {
  cursor: pointer;
}

.logo-sep {
  color: #929497;
  font-weight: 400;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.copyright {
  background-color: #555657;
  padding: 25px;
  border-top: 2px #535354 solid;
  text-align: center;
  line-height: 10px; 
}

.footer-title {
  cursor: pointer;
  width: 226px;
  margin: 0 auto;
  color: #e6e7e8;
  font-weight: 400;
  font-size: 16px;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.footer-title:hover {
  text-decoration: underline;
}

.footer-sep {
  background-color: #a7a9ac;
  width: 20px;
  height: 2px;
}

/* END FOOTER */

/* MODAL DESIGN */

.modal-body {
  width: 90%;
  margin: 0 auto;
}

.modal-body p {
  color: #6d6e70;
  line-height: 1.9em;
}

.modal-dialog {
  margin-top: 150px;
}

.modal-header {
  border-bottom: 1px #bbbdbf solid;
  padding-left: 40px;
}

.modal-title {
  color: #00beca;
  font-weight: 600;
  font-size: 24px;
  padding-top: 7px;
}

.modal-subtitle {
  color: #404041;
  font-weight: 600;
  font-size: 20px;
}

.modal-readmore {
  text-align: right;
}

.modal-sep {
  background: #bbbdbf;
  width: 100%;
}

.modal-header .close {
  font-size: 40px;
  font-weight: 400;
  color: #bbbdbf;
  opacity: 1;
}

button.close {
  padding: 5px 10px;
}

/* END MODAL */

a {
	color: #6d6e70;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
	color: #0739a9;
	text-decoration: underline;
}

.tooltip > .tooltip-inner {
  width: 150px;
      background-color: rgba(0,0,0,0.8); 
      color: #FFFFFF; 
      padding: 15px;
      font-size: 15px;
      margin-bottom: 50px;
      box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  }

.tooltip-arrow {
      display: none;
  }
  