body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#myModal .modal-body {
	font-size: 1.2em;
}

#trying {
  padding: 0 300px;
}

.gifplace {
  text-align: center;
}

.gifplace img {
  width: 100%;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.tooltip > .tooltip-inner {
      background-color: rgba(0,0,0,0.8); 
      color: #FFFFFF; 
      padding: 15px;
      font-size: 15px;
      margin-bottom: 50px;
      box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  }
  /* Tooltip on top */
.tooltip.top > .tooltip-arrow {
      display: none;
  }

#buttonz {
  	border-radius: 50%;
  	height: 70px;
  	width: 70px;
  	font-size: 30px;
  	padding-top: 14px;
    margin-bottom: 50px;
  }

  .over-image {
    margin-top: -37px;
  }

  .over-image > a > span {
    transition: all 0.6s ease;
    background-color: #1bbc9b;
  }

  .over-image > a > span:hover {
    top: -5px;
    color: rgba(255,255,255,0.7);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    background-color: #15997f;
  }